<div class="row">
    <div class="col-12">
    
        
            <button type="button" *ngIf="!isPaymentDone" class="btn waves-light mx-2 text-white" (click)="paymentDone()"
                style="background-color: #dd4b39;">
                Payment
            </button>
    </div>
</div>

<div class="row" *ngIf="isPaymentDone">
    <div class="col-12">
        Payment Successfully Done. 
        Your Transaction ID : <b>{{transactionID}}</b>
        Froom Reference ID : <b>{{froomReferenceID}}</b>
    </div>
</div>